@charset "utf-8";
/*默认什么的最讨厌了*/
*{margin:0;padding: 0;}
li{list-style: none;}
a{text-decoration: none; color:#fff}
textarea{resize:none;}
input,select,textarea{outline:none;}
img,input,select,textarea{vertical-align:top;}
.fl{float: left;}
.fr{float: right;}
.clearFix:after{content:'';display:block;clear:both;}
.wrapper{position:relative;width:100%;background:#234;margin:0 auto;overflow-x:hidden;}
body{height:3000px;color:#fff;font-size:0.16rem;background:#234;}

/*-------------------------------这是我的脑袋header-----------------------------------*/
.header{width:100%;height:0.5rem;position:fixed;top:0; left:0;z-index:3;
	background:rgba(0,0,0,0);text-align: center;}
.head_box{margin:0 auto;height:0.5rem;display: inline-block;}
.head_box li{height:0.5rem;width:1rem;text-align:center;line-height:0.5rem;
		margin-left:0.1rem;position:relative;overflow:hidden;border-radius:0.1rem; float: left;}
.head_box li span{width:1rem;height:0.5rem;background:#000;
	position: absolute;top:0.5rem;left:0; border-radius:0.1rem;}
.head_box li a{position:absolute;top:0;left:0;width:1rem;height:0.5rem;font-size: 0.18rem;
				background:#289;opacity:0.5;z-index:8;/*font-weight:bold;*/}

/*-------------------------------------这是我的面部banner-----------------------------*/
.banner{width:100%;position:relative;}
.audio_header{opacity:0.3;position:absolute;top:0;right:0;height:0.5rem;width:3rem}
#time{position:absolute;top:0.13rem;left: 0;/* width:3rem*/height:0.5rem}
#time img{width:0.25rem; height:0.37rem;}
.write{width:6rem;height:5rem;position:absolute;top:4rem;left:50%;
		margin-left:-3rem;text-align: left;}
.write span{font-size:0.3rem; color:rgba(0,0,0,0);text-shadow:0 0 0.5rem #fff;
			opacity:0;transition:0.3s all ease;}
.write span.active{opacity:1;text-shadow:0 0 0 #fff}
.bannerImg{width:100%;height:10.8rem;display:none;}
.bannerImg.show0{background:url(../images/slide-0.jpg) no-repeat;
			background-size:cover;display: block;}
.bannerImg.show1{background:url(../images/slide-1.jpg) no-repeat;
			background-size:cover;display: block;}
.bannerImg.show2{background:url(../images/slide-2.jpg) no-repeat;
			background-size:cover;display: block;}
.banner_btm{width:100%;height:0.8rem;background:#234;position:absolute;bottom:0;left:0;opacity:0.5}
.banner_btm span{width:0.4rem;height:0.4rem;position: absolute;text-align:center; line-height:0.4rem;color:#564;}
.banner_btm .prev{left:30%;top:0.2rem;background:url(../images/prev.png) no-repeat;
background-size:cover;}
.banner_btm .prev.over{background:url(../images/prev1.png) no-repeat;background-size:cover;}
.banner_btm .next{left:70%;top:0.2rem;background:url(../images/next.png) no-repeat;
background-size:cover !important;}
.banner_btm .next.over{background:url(../images/next1.png) no-repeat;background-size:cover;}
.banner_center{width:1.3rem;height:0.2rem;position:absolute;
			left:0;right:0;margin:0 auto;bottom:0.25rem;}
.banner_center span{width:0.2rem;height:0.2rem;border-radius: 50%;
			border:0.01rem solid #fff;float:left;margin-right:0.2rem;}
.banner_center span.mr0{margin-right: 0;}
.banner_center span.on{background:red;}
/*-------------------------------这是关于我的about me----------------------------------*/
.about{width:100%;background:#234;position: relative;padding-top:2rem;
	box-sizing: border-box;height:8rem;}
.My_photo{width:7rem ;height:0.5rem;font-size:0.3rem;text-align: center;}
.about_me{width:6.4rem; height:4rem; /*background:#000;*/float:right;}
.about_me span{display:block;font-size:0.3rem;
				/*-webkit-text-size-adjust:none;*/
				word-spacing: nowrap;width:100%;margin-bottom: 0.15rem}
#photo{ position:relative;width:7rem; height:4rem;float: left;
	 background:url(../images/0.jpg) no-repeat;background-size:7rem 4rem;}
#photo .page2{ position:absolute;right:0;top:0;width:3.5rem; height:100%;
	background:url(../images/1.jpg) no-repeat right ; z-index:1;
	background-size:7rem 4rem;}
#photo .page{position:absolute;right:0;top:0;width:3.5rem; height:100%;
 z-index:2;background-size:7rem 4rem;
	/*transition:1s all ease;*/
	transform:perspective(8rem) rotateY(0deg);
	transform-origin:left center;
	transform-style:preserve-3d;
}
#photo .page div{position:absolute;left:0;top:0;width:100%; height:100%;
	line-height:4rem; text-align:center; font-size:0.5rem; color:#fff;}
#photo .page .front{ background:url(../images/0.jpg) no-repeat right;
 z-index:2; transform:translateZ(0.01rem);background-size:7rem 4rem;}
#photo .page .back{ background:url(../images/1.jpg) no-repeat;
	z-index:1;transform:translateZ(-0.01rem) scale(-1,1);background-size:7rem 4rem;}
/*----------------------------这是穿墙术passThrough----------------------------------*/
.lagou{width:100%;padding-top:1.5rem;box-sizing: border-box;height:9.13rem}
.my_Lagou{width:100%;height:0.5rem;line-height:0.5rem;font-size:0.3rem;
text-align: center;}
.my_Lagou span{color: red}
.lagou_box{width:12.8rem;height:6.6rem;margin:0 auto;}
.lagou_box li{width:3rem;margin:0.1rem;height:2rem;background:#000;position: relative;
		overflow: hidden;}
.lagou_box li img{width:100%;height:100%;}
.lagou_box li a{ position:absolute;left:-3rem;top:0;width:100%;font-size:0.3rem;line-height:2rem;
			text-align: center;color:#000;
			 height:100%; background:pink;opacity:0.8;display:block;}

/*---------------------------------这是图片环绕分散 surRound------------------------------------*/
.surRound{width:100%;/*background:red;*/padding-top:2rem;box-sizing: border-box;
	height:9.13rem}
.surRound input{width:2rem;height:0.5rem;font-size:0.3rem;margin:1.2rem auto;
	display:block;box-shadow:inset 0 0.05rem 0.5rem #000;cursor:pointer;}
.surRound ul{width:1.33rem; height:2rem;margin:0 auto;position: relative;
				transform-style:preserve-3d;
				transform:perspective(800px) rotateX(-15deg) rotateY(0deg);
			}
.surRound ul li{ position:absolute;left:0;top:0;width:100%; height:100%;
	transition:1s all ease; box-shadow:0 0 0.1rem #fff; border-radius:0.1rem;
	 overflow:hidden;line-height:2rem;}
.surRound ul li img{width:100%; height:100%;}
/*---------------------------------点击换页 tabPage------------------------------------------*/
.tabPage{width:100%;height:9.13rem;padding-top:2rem;box-sizing: border-box;}
.tabPage ul{width:6rem;height:6rem;margin:0 auto;position: relative;}
.tabPage ul li{width:1.8rem;height:1.8rem;float:left;margin:0.1rem;border-radius:0.2rem;
		overflow: hidden;box-shadow:0 0 0.2rem;}
.tabPage ul li img{height:100%;width:100%;}
#tabPage_btn{margin:0.1rem auto; display: block;width:1rem;height:0.5rem;font-size:0.2rem;
			text-align:center;line-height:0.5rem}
/*-------------------------------------------------------------------------------*/
@media (max-width:780px) {
.header{width:100%;height:0.5rem; position:fixed;top:0; left:0;z-index:3;
background:rgba(0,0,0,0); text-align: center; }
.head_box{width: 5.5rem;margin:0 auto;height:0.5rem; position: absolute; left: 0; right: 0; top: 0.6rem;}
.header .hide{
	width: 0;
}

.about_me{
	display: none;
}

}